<div class="app-window"
     *ngIf="state"
     [style.top]="top"
     [style.bottom]="bottom"
     [style.left]="left"
     [style.right]="right"
     #appWindow>
  <div class="top-bar flex-row"

       [id]="state.id">
    <div class="window-control close"></div>
    <div class="window-control minimize"></div>
    <div class="window-control fullscreen"></div>
  </div>

  <ng-template window-content-host></ng-template>

  <div class="handle handle-right" 
       (mousedown)="onResizeStart($event, false, true)">
     
   </div>
  <div class="handle handle-bottom" 
       (mousedown)="onResizeStart($event, true)">
  </div>
  <div class="handle handle-corner" 
       (mousedown)="onResizeStart($event)">
  </div>
</div>
