@import '../../styles/_variables';

$controlSize: 12px;
$windowRadius: 3px;
$topBarHeight: 22px;
$resizeHandleDimension: 20px;
$minimizedDimension: 0;
$minimizeTransitionTime: .4s;
$minimizeTransitionType: ease;

.app-window {
  border-radius: $windowRadius;
  position: absolute;
  box-shadow: $shadow;
  bottom: auto;
  transform: translate(0, 0);
  transition: transform $minimizeTransitionTime $minimizeTransitionType;

  &.draggable-mirror {
    transition: none !important;
  }

  &.draggable-source--is-dragging {
    visibility: hidden;
  }

  .controls {
    top: 0;
    left: 0;
    height: $topBarHeight;
    position: absolute;

    .window-control {
      display: inline-block;
      opacity: 1;
      user-select: none;
      height: $controlSize;
      width: $controlSize;
      border-radius: $controlSize + 8;
      margin: 5px 3px;
      cursor: pointer;
      z-index: 4;

      &.close {
        background: red;
      }

      &.minimize {
        background: yellow;
      }

      &.fullscreen {
        background: green;
      }
    }
  }

  .top-bar {
    background: $mediumGrey;
    height: $topBarHeight;
    cursor: move;
    z-index: 3;
    opacity: .9;
  }

  .handle {
    position: absolute;
    z-index: 10;

    &.handle-right {
      top: $topBarHeight;
      right: -($resizeHandleDimension / 2);
      bottom: $resizeHandleDimension;
      width: $resizeHandleDimension;
      cursor: col-resize;
    }

    &.handle-bottom {
      bottom: -($resizeHandleDimension / 2);
      left: 0;
      right: $resizeHandleDimension;
      height: $resizeHandleDimension;
      cursor: row-resize;
    }

    &.handle-corner {
      bottom: -($resizeHandleDimension / 2);
      right: -($resizeHandleDimension / 2);
      width: $resizeHandleDimension * 1.5;
      height: $resizeHandleDimension * 1.5;
      cursor: nwse-resize;
    }
  }

  .content {
    position: absolute;
    top: $topBarHeight;
    left: 0;
    width: 100%;
    height: calc(100% - #{$topBarHeight});
    transition: width $minimizeTransitionTime $minimizeTransitionType,
                  height $minimizeTransitionTime $minimizeTransitionType;
    overflow: hidden;
  }


  &.minimized {
    box-shadow: none;
    transform: translate(50vh, 100vh);

    .content {
      height: $minimizedDimension; 
      width: $minimizedDimension;
    }

    .controls, .top-bar {
      visibility: hidden;
    }
  }

  &.animating {
    box-shadow: none;
  }

  @media(max-width: $mobileMaxWidth) {
    box-shadow: $mobileShadow;
    width: 100%;
    left: 0;
    margin-left: 0;
    top: 100px;
  }
}
