@import '../../styles/_variables';

$controlSize: 12px;
$windowRadius: 3px;
$topBarHeight: 22px;
$resizeHandleDimension: 15px;

.app-window {
  border-radius: $windowRadius;
  overflow: hidden;
  position: absolute;
  box-shadow: $shadow;

  &.draggable-source--is-dragging {
    visibility: hidden;
  }

  .top-bar {
    background: $mediumGrey;
    height: $topBarHeight;

    .window-control {
      user-select: none;
      height: $controlSize;
      width: $controlSize;
      border-radius: $controlSize + 8;
      margin: 5px 3px;
      cursor: pointer;

      &.close {
        background: red;
      }

      &.minimize {
        background: yellow;
      }

      &.fullscreen {
        background: green;
      }
    }
  }

  .handle {
    position: absolute;
    background: blue;
    z-index: 10;

    &.handle-right {
      top: 0;
      right: 0;
      bottom: $resizeHandleDimension;
      width: $resizeHandleDimension;
    }

    &.handle-bottom {
      bottom: 0;
      left: 0;
      right: $resizeHandleDimension;
      height: $resizeHandleDimension;
    }

    &.handle-corner {
      bottom: 0;
      right: 0;
      width: $resizeHandleDimension;
      height: $resizeHandleDimension;
    }
  }

  @media(max-width: $mobileMaxWidth) {
    box-shadow: $mobileShadow;
    width: 100%;
    left: 0;
    margin-left: 0;
    top: 100px;
  }
}
