<div class="app-window"
     [style.top]="top"
     [style.bottom]="bottom"
     [style.left]="left"
     [style.right]="right"
     [style.zIndex]="zIndex"
     (click)="focusWindow()"
     [ngClass]="{'minimized': isMinimized, 'animating': isAnimating }"
     #appWindow>
  <div class="top-bar" [id]="id" [hidden]="isAnimating"></div>

  <div class="controls">
    <div class="window-control close" (click)="close()"></div>
    <div class="window-control minimize" (click)="minimize()"></div>
    <div class="window-control fullscreen" (click)="maximize()"></div>
  </div>

  <div class="content">
    <ng-template window-content-host></ng-template>
  </div>

  <div class="handle handle-right" 
       (mousedown)="onResizeStart($event, false, true)">
     
   </div>
  <div class="handle handle-bottom" 
       (mousedown)="onResizeStart($event, true)">
  </div>
  <div class="handle handle-corner" 
       (mousedown)="onResizeStart($event)">
  </div>
</div>
