<div class="dock-wrapper">
  <div class="dock-content">
    <a href="https://github.com/burkel24" target="_blank">
      <i class="fa fa-github-alt fa-4x"></i>
    </a>
    <a href="https://codepen.io/burkel24/" target="_blank">
      <i class="fa fa-codepen fa-4x"></i>
    </a>
    <a href="https://www.instagram.com/burke024/" target="_blank">
      <i class="fa fa-instagram fa-4x"></i>
    </a>
    <a href="https://www.linkedin.com/in/burketlivingston/" target="_blank">
      <i class="fa fa-linkedin-square fa-4x"></i>
    </a>
  </div>
</div>
