@import '../../styles/_variables';

.projects {
  height: 200px;
  padding: 25px;
  line-height: 150px;
  vertical-align: middle;
  text-align: center;
  background: $secondaryBlue;
  color: $white;
}
