@import '../../styles/_variables';

.app-nav {
  padding: 5px 10px;
  background: $lightGrey;

  .logo {
    margin: 0 5px;
  }

  .nav-item {
    margin: 0 10px;

    i {
      margin-left: 5px;
    }
  }

  @media(max-width: $mobileMaxWidth) {
    padding: 3px 5px;

    .nav-item {
      margin: 0 7px;

      i {
        margin-left: 3px;
      }
    }
  }
}
