@import '../../styles/_variables';

.app-nav {
  padding: 5px 15px;
  background: $lightGrey;

  .logo {
    margin: 0 5px;
  }

  .nav-item {
    margin: 0 10px;
  }

  .battery-percent {
    font-size: 11px;
    line-height: 12px;
    padding-top: 4px;
    vertical-align: top;
    display: inline-block;
  }
}
