$rem: 16px;

$contentWidth: 980px;

$shadowColor: transparentize($color: #415666, $amount: .7);

/**
 https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.13599372812564592,0.28651320000061853,0.39999999999999997,0.586652293621272,0.7748053582787044,0.9166666666666667,0.3059858882827034,0.6446547000013918,0.9,0.2559937281256459,0.3380968836125255,0.39999999999999997,0.23798902421988039,0.5013981000010824,0.7&swatchOrder=0,1,2,3,4
 */
 
 $navy: #234966;
 $bruise: #415666;
 $ocean: #3D80B2;
 $baby: #4EA4E5;
 $sky: #96C6EA;
 $paper: #EFEFEF;
