$primaryBlue: #394455;
$secondaryBlue: #4465A6;
$lightBlue: #A5C4DB;
$lightGrey: #E9EDF0;
$white: #FFFFFF;
$mediumGrey: #C8CCD5;

$shadow: 10px 10px 0px 0px $primaryBlue;
$mobileShadow: 0 20px 0px -10px $primaryBlue;
$mobileMaxWidth: 765px;
$tabletMaxWidth: 950px;
