@import '_variables';

body {
  background: $lightBlue;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Helvetica Neue";
  font-weight: 400;
  box-sizing: border-box;
}

strong {
  font-weight: 500;
}
